/* Thin - 100 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Thin.woff2") format("woff2"),
       url("/fonts/Vazirmatn-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* ExtraLight - 200 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-ExtraLight.woff2") format("woff2"),
       url("/fonts/Vazirmatn-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* Light - 300 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Light.woff2") format("woff2"),
       url("/fonts/Vazirmatn-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Regular - 400 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2"),
       url("/fonts/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium - 500 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Medium.woff2") format("woff2"),
       url("/fonts/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold - 600 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-SemiBold.woff2") format("woff2"),
       url("/fonts/Vazirmatn-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Bold - 700 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2"),
       url("/fonts/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold - 800 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-ExtraBold.woff2") format("woff2"),
       url("/fonts/Vazirmatn-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Black - 900 */
@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Black.woff2") format("woff2"),
       url("/fonts/Vazirmatn-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
